# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.o

*.exe

Offline 01/Discussion and QnA.mp4

Offline 01/out_01.txt

*.out

Offline 01/out_02.txt

Offline 01/out_03.csv

Offline 01/out_04.csv

Offline 01/1905045/

Online 01/1905045/

Offline 02/test.cpp

Offline 02/1905045/

Offline 03/1905045/

Offline 04/1905045/

Offline 05/1905045/

Offline 05/E-Folder/1905045/

Offline 05/eval/

Offline 06 (Graph)/1905045/

Offline 07 (Divide and Conquer)/1905045/

Offline 08 (Greedy)/1905045/

Offline 09 (DP)/1905045/

Practice Contest/I-stress.cpp

Practice Contest/input.txt

Practice Contest/output.txt

Offline 01 (List)/1905045/

*.mp4

Offline 02 (Stack)/1905045/

Offline 03 (Queue)/1905045/

Offline 04 (BST)/1905045/

Offline 05 (Heap)/1905045/

Offline 05 (Heap)/E-Folder/1905045/

Offline 05 (Heap)/eval/

Online 01 (List)/1905045/

Offline 01/

Offline 02/
